<form (ngSubmit)="onSubmit()">
  <div>
    <label for="originalPassword">Enter Original Password</label>
    <input type="password" class="form-control" id="originalPassword" name="originalPassword" ngControl="originalPassword" (value)="originalPassword" (input)="originalPassword=$event.target.value" placeholder="Original Password">
  </div>
  <div>
    <label for="enterPassword">Enter New Password</label>
    <input type="password" class="form-control" id="newPassword" name="newPassword" ngControl="newPassword" (value)="newPassword" (input)="newPassword=$event.target.value" placeholder="New Password">
  </div>
  <div>
    <label for="verifyPassword">Verify New Password</label>
    <input type="password" class="form-control" id="verifyPassword" name="verifyPassword" ngControl="verifyPassword" (value)="verifyPassword" (input)="verifyPassword=$event.target.value" placeholder="Verify Password">
  </div>
  <div *ngIf="isError == true">
    {{ errorMessage }}
  </div>
  <button type="submit">Submit Password</button>
</form>

