<div class="outline">
  <button type="button" class="exit" (click)="onNoClick()">X</button>

  <div class="log-in-container">
  <div class="title">
    Log In
  </div>
  <div class="form-layout">
    <form (ngSubmit)="signIn()">
      <div>
        <label class="text">Email Address*</label><br>
        <input type="email" class="form-control" id="email" name="email" ngControl="email" [(ngModel)]="signedIn.email" (ngModelChange)="signedIn.email" #email="ngModel" placeholder="johnsmith@gmail.com" required/>
      </div>
      <div>
        <label class="text">Password*</label><br>
        <input type="password" class="form-control" id="password" name="password" ngControl="password" [(ngModel)]="signedIn.password" (ngModelChange)="signedIn.password" #email="ngModel" placeholder="******" required/>
      </div>
      <div class="submittion-wrapper">
      <button class="submittion" type="submit">Log In</button>
      </div>
      <div *ngIf="isError == true"> 
        {{ isMessage }}
      </div><br>
      <a class="forgot" routerLink="/forgetPassword">Forgot Password?</a>
      <div class="signin-line"></div>

      <div class="dont-have">
        Dont have an account? <a class="signup" routerLink="/signup"> Sign Up</a>
      </div>
    </form>
  </div>
  </div>
</div>
