Sign In Page

<form (ngSubmit)="signIn()">
  <div>
    <label for="email">Email:</label>
    <input type="email" class="form-control" id="email" name="email" ngControl="email" [(ngModel)]="signedIn.email" (ngModelChange)="signedIn.email" #email="ngModel" placeHolder="Email" required/>
  </div>

  <div>
    <label for="password">Password:</label>
    <input type="password" class="form-control" id="password" name="password" ngControl="password" [(ngModel)]="signedIn.password" (ngModelChange)="signedIn.password" #email="ngModel" placeHolder="12345" required/>
  </div>
  <a routerLink="/forgetPassword">Forgot Password?</a>
  <button type="submit">Sign In</button>
  <div *ngIf="isError == true"> 
    {{ isMessage }}
  </div>

</form>
