<div class="header-body">
  <div class="top-line"></div>
  <div class="top-part">
    <div class="right-side">
    </div>
    <div class="middle-side">
      <div class="logo-header">JT</div>
      <div class="logo-footer">PRIVATE JEWELERS</div>
    </div>
    <div class="left-side">
      <div>
        <a routerLink="/shoppingCart" class="shoppingSection" >
          Shopping Bag({{ numOfItems }})
        </a>
      </div>
      <div>
        <input [(ngModel)]="search" (click)="searching()" (ngModelChange)="searching()" class="search-bar" type="text" placeholder="Search" />
      </div>
    </div>
  </div>
  <div class="line"></div>
  <div id="links" *ngIf="signedIn == false">
    <div class="aLink">
    <a routerLinkActive="router-link-active" routerLink="/">HOME</a>
    </div>
    <div class="aLink">
    <a routerLinkActive="router-link-active" (click)="openSignUp()" routerLink="/">SIGN UP</a>
    </div>
    <div class="aLink">
    <a routerLinkActive="router-link-active" routerLink="#" (click)="openDialog()">LOG IN</a>
    </div>
  </div>

  <div id="links" *ngIf="signedIn == true">
    <a  routerLink="/">HOME</a>
    <a  routerLinkActive="router-link-active" routerLink="/" (click)="signOut()">SIGN OUT</a>
    <a  routerLinkActive="router-link-active" routerLink="/manageAccount">MY ACCOUNT</a>
  </div>
</div>
