<div class="header-body">

<a routerLink="/shoppingCart" class="shoppingSection" >
  Shopping Cart({{ numOfItems }})
</a>

  <input [(ngModel)]="search" (ngModelChange)="searching()" class="search-bar" type="text" placeholder="Search" />

<div class="logo-header">JT</div>
<div class="logo-footer">PRIVATE JEWELERS</div>
<div class="line"></div>
<div id="links" *ngIf="signedIn == false">

  <a  class="link" routerLink="/">Home</a>
  <a  routerLinkActive="router-link-active" routerLink="/signin">Sign In</a>
  <a  routerLinkActive="router-link-active"routerLink="/signup">Sign Up</a>
</div>

<div id="links" *ngIf="signedIn == true">

  <a  routerLink="/">Home</a>
  <a  routerLinkActive="router-link-active" (click)="signOut()">Sign Out</a>
  <a  routerLinkActive="router-link-active" routerLink="/manageAccount">My Account</a>
</div>
</div>
