<div class="outline">
  <button type="button" class="exit" (click)="onNoClick()">X</button>

  <div class="sign-up-container">
    <div class="title">  
      Sign Up
    </div>
    <div class="form-layout">
      <form (ngSubmit)="onSubmit()">
        <div>
          <label class="text">First Name*</label><br>
          <input type="text" class="form-control" id="firstName" name="firstName" ngControl="firstName" (blur)="checkForFirstName()" [(ngModel)]="newUser.firstName" (ngModelChange)="newUser.firstName" #firstName="ngModel" placeHolder="First Name" required>
          <div *ngIf="firstNameError == true">
            <span>{{ firstNameMessage }}</span>
          </div>
        </div>
        <div>
          <label class="text">Last Name*</label><br>
          <input type="text" class="form-control" id="lastName" name="lastName" ngControl="lastName"  (blur)="checkForLastName()"[(ngModel)]="newUser.lastName" (ngModelChange)="newUser.lastName" #lastName="ngModel" placeHolder="Last Name" required>
          <div *ngIf="lastNameError == true">
            <span>{{ lastNameMessage }}</span>
          </div>
        </div>

        <div>
          <label class="text">Email*</label><br>
          <input type="text" class="form-control" id="email" name="email" ngControl="email" (blur)="checkForEmail()" [(ngModel)]="newUser.email" (ngModelChange)="newUser.email" #email="ngModel" placeHolder="JohnDoe@ABC.com" required>
          <div *ngIf="emailError == true">
            <span>{{ emailMessage }} </span>
          </div>
        </div>


        <div>
          <label class="text">Password*</label><br>
          <input type="password" class="form-control" id="password" name="password" ngControl="password" (blur)="checkForPassword()" [(ngModel)]="newUser.password" (ngModelChange)="newUser.password" #password="ngModel" placeHolder="123456" required>
          <div *ngIf="passwordError == true">
            <span>{{ passwordMessage }}</span>
          </div>
        </div>
        <!--
        <div>
          <label class="text">Street Address</label><br>
          <input type="text" class="form-control" id="streetAddress" name="streetAddress" ngControl="streetAddress" [(ngModel)]="newUser.streetAddress" (ngModelChange)="newUser.streetAddress" #streetAddress="ngModel" placeHolder="42 Wallaby Way" required>
        </div>

        <div>
          <label class="text">City</label><br>
          <input type="text" class="form-control" id="city" name="city" ngControl="city" [(ngModel)]="newUser.city" (newModelChange)="newUser.city" #city="ngModel" placeHolder="Sydney" required>
        </div>

        <div>
          <label class="text">State</label><br>
          <input type="text" class="form-control" id="state" name="state" ngControl="state" [(ngModel)]="newUser.state" (newModelChange)="newUser.state" #state="ngModel" placeHolder="Nemo" required>
        </div>
        -->
        <div class="submittion-wrapper">
          <button class="submittion" type="submit">Submit User</button>
        </div>
      </form>
    </div>
  </div>
</div>
