Sign Up Page

<form (ngSubmit)="onSubmit()">

    <div>
      <label for="firstName">First Name:</label>
      <input type="text" class="form-control" id="firstName" name="firstName" ngControl="firstName" [(ngModel)]="newUser.firstName" (ngModelChange)="newUser.firstName" #firstName="ngModel" placeHolder="First Name" required>
    </div>


    <div>
      <label for="lastName">Last Name:</label>
      <input type="text" class="form-control" id="lastName" name="lastName" ngControl="lastName" [(ngModel)]="newUser.lastName" (ngModelChange)="newUser.lastName" #lastName="ngModel" placeHolder="Last Name" required>
    </div>

    <div>
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" name="email" ngControl="email" [(ngModel)]="newUser.email" (ngModelChange)="newUser.email" #email="ngModel" placeHolder="JohnDoe@ABC.com" required>
    </div>


    <div>
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" name="password" ngControl="password" [(ngModel)]="newUser.password" (ngModelChange)="newUser.password" #password="ngModel" placeHolder="123456" required>
    </div>

    <div>
      <label for="streetAddress">Street Address:</label>
      <input type="text" class="form-control" id="streetAddress" name="streetAddress" ngControl="streetAddress" [(ngModel)]="newUser.streetAddress" (ngModelChange)="newUser.streetAddress" #streetAddress="ngModel" placeHolder="42 Wallaby Way" required>
    </div>

    <div>
      <label for="city">City:</label>
      <input type="text" class="form-control" id="city" name="city" ngControl="city" [(ngModel)]="newUser.city" (newModelChange)="newUser.city" #city="ngModel" placeHolder="Sydney" required>
    </div>

    <div>
      <label for="state">State:</label>
      <input type="text" class="form-control" id="state" name="state" ngControl="state" [(ngModel)]="newUser.state" (newModelChange)="newUser.state" #state="ngModel" placeHolder="Nemo" required>
    </div>


    <button type="submit">Submit User</button>
</form>
