<form (ngSubmit)="onSubmit()">
  <div>
    <label for="enterPassword">Enter New Password</label>
    <input type="password" class="form-control" id="newPassword" name="newPassword" ngControl="newPassword" (value)="newPassword" (input)="newPassword=$event.target.value" placeholder="New Password">
  </div>
  <div>
    <label for="confirmPassword">Verify New Password</label>
    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" ngControl="confirmPassword" (value)="confirmPassword" (input)="confirmPassword=$event.target.value" placeholder="Verify Password">
  </div>
  <div *ngIf="isError == true">
    {{ errorMessage }}
  </div>
  <button type="submit">Submit Password</button>
</form>


