<div class="shopping-bag-container">
  <div class="shopping-title">
    Shopping Bag
  </div>
  <div class="items-header">
    <div class="item-header">
      Item
    </div>
    <div class="item-quantity">
      Quantity
    </div>
    <div class="item-price">
      Price
    </div>
  </div>
  <div class="items-wrapper" *ngFor="let jewel of order.jewelry; let i = index">
    <div class="item-header">
      <div>
      <img src={{jewel.jewel.images[0]}} style="height:100px;width:100px" />
      </div>
      <div class="item-title">
        {{jewel.jewel.jewelName}}<br>
          <select [(ngModel)]="jewel.selectedSize">
              <option>
               {{ jewel.selectedSize }}
              </option>
              <option [disabled]="size.quantity == 0" *ngFor="let size of jewel.jewel.sizes" value={{size.size}}>
               {{ size.size }}
              </option>
            </select>

      </div>
      
    </div>
    <div class="item-quantity">
        <button class="quantity-plus">+</button>
        <input class="the-item-quantity" type="text" name="quantity" ngControl="quantity" [(ngModel)]="jewel.jewel.quantity" (ngModelChange)="jewel.jewel.quantity" #quantity="ngModel" />
        <button class="quantity-minus">-</button>
    </div>
    <div class="item-price">
      <div class="price-header">
        ${{jewel.jewel.price * jewel.jewel.quantity}}
      </div>
      <div class="remove-button">
        <button class="remove-button-button" (click)="removeItem(i)">Remove</button>
      </div>
    </div>
  </div>
  <div class="subtotal-container">
    <div class="the-subtotal">
      Subtotal: ${{runningTotal}}
    </div>
    <div class="shipping-and-handling">
      Shipping and tax will be calculated in checkout.
    </div>
    <div class="subtotal-buttons">
      <button class="check-out" (click)="checkOut()">CHECKOUT</button><br>
      <button class="continue-shopping">CONTINUE SHOPPING</button><br>
      <div *ngIf="sizesSelectedError == true">
        One of the items in your bag are missing a size.
      </div>
    </div>
  </div>
</div>
<!--
            <select [(ngModel)]="jewel.selectedSize">
              <option>
               {{ jewel.selectedSize }}
              </option>
              <option [disabled]="size.quantity == 0" *ngFor="let size of jewel.jewel.sizes" value={{size.size}}>
               {{ size.size }}
              </option>
            </select>
          </td>
          <td>$ {{ jewel.jewel.price * jewel.jewel.quantity }}<br><div (click)="removeItem(i)">Remove</div></td>
        </tr>
      </tbody>
    </table>
</div>
<div style="position:absolute;right:0px;">
  <strong>Subtotal: ${{ runningTotal }}</strong>
</div>
<br>
<div style="position:absolute;right:0px;">
Shopping and tax will be calculated in checkout
</div>
<br>
<div style="position: absolute;right:0px;">
  <button (click)="checkOut()">Checkout</button><br>
  <button>Continue Shopping</button><br>
  <div *ngIf="sizesSelectedError == true">
    One of the items in your bag are missing a size.
  </div>
</div>
-->
