
<div class="product-page-container" *ngIf="loading == true">
  <div class="product-container">
    <div class="product-part">
      <div class="product-image-section">
        <swiper class="the-swiper" [config]="config">
          <div class="swiper-wrapper">
            <img class="swiper-slide" *ngFor="let theImage of jewelryToBePreviewed.images" src={{theImage}}>
          </div>
        </swiper>
      </div>
      <div class="product-gallery-section">
        <swiper class="mini-gallery">
          <div class="swiper-wrapper">
            <img class="swiper-slide" *ngFor="let theImage of jewelryToBePreviewed.images" src={{theImage}}>
          </div>
        </swiper> 
      </div>
    </div>
    <div class="product-container-details-section">
      <div class="product-name">
        {{ jewelryToBePreviewed.jewelName }}
      </div>
      <div class="product-price">
        ${{ jewelryToBePreviewed.price }}
      </div>
      <div class="product-description">
        {{ jewelryToBePreviewed.formalDescription }}
      </div>
      <div *ngIf="loading == true && jewelryToBePreviewed.sizes != null" class="product-selectors">
        <select class="product-size" [(ngModel)]="userJewel.selectedSize">
          <option [selected]="true">Select Size</option>
          <option [disabled]="(size.quantity - jewelryToBePreviewed.quantity) <= 0" *ngFor="let size of jewelryToBePreviewed.sizes" [value]="size.size">
            {{size.size}}
          </option>
        </select>
        <div class="spacer"></div>

        <button class="quantity-minus" (click)="subtractQuantity()">-</button>
        <input class="product-quantity" type="text" name="quantity" ngControl="quantity" [(ngModel)]="jewelryToBePreviewed.quantity" (ngModelChange)="jewelryToBePreviewed.quantity" #quantity="ngModel" />
        <button class="quantity-plus" (click)="addQuantity()">+</button>
        <div *ngIf="sizeSelected == true">
          A Size needs to be selected in order for you to add an item to the bag.
        </div>
      </div>
      <div class="product-add">
        <button class="add-button" (click)="addItem()">ADD TO BAG</button>
      </div>
      <div class="product-add-wishlist">
        <button class="button-add-wishlist" (click)="addToWishlist()" *ngIf="wishListSuccess == false">
          Add To Wishlist
        </button>
      </div>
      <div class="wishlist-success" *ngIf="wishListSuccess == true">
        This item has been added to your Wishlist.<br>
        <div class="view-wishlist-wrapper">
          <button class="view-wishlist-button" (click)="wishList()">View Wishlist</button>
        </div>
      </div>
    </div>
  </div>

  <div class="product-page-line"></div>
  <div class="details-container">
    <div class="product-details-container">
      <div class="details-title">
        Product Details
      </div>
      <div class="all-details">
        <div>
          <span>Item {{ jewelryToBePreviewed.itemCode }}</span>
        </div>
        <div>
          <span>Center Stone: {{ jewelryToBePreviewed.centerStone }}</span>
        </div>
        <div>
          <span>Weight: {{ jewelryToBePreviewed.weightOneDim }}ct({{ jewelryToBePreviewed.weight3d.dimensionOne }}x{{ jewelryToBePreviewed.weight3d.dimensionTwo }}x{{ jewelryToBePreviewed.weight3d.dimensionThree }}mm)</span>
        </div>
        <div>
          <span>Shape: {{ jewelryToBePreviewed.shape }}</span>
        </div>
        <div>
          <span>Clarity: {{ jewelryToBePreviewed.clarity }} </span>
        </div>
        <div>
          <span>Metal: {{ jewelryToBePreviewed.metal }} </span>
        </div>
        <div>
          <span>Details: {{ jewelryToBePreviewed.detaillist.detailOne }}</span>
          <div> {{ jewelryToBePreviewed.detaillist.detailTwo }}</div>
          <div> {{ jewelryToBePreviewed.detaillist.detailThree }}</div>
        </div>
        <div> 
         <span>Center Diamond is GIA certified</span>
        </div>
      </div>
    </div>
    <div class="product-video-container">
      <video class="video-wrapper" src={{jewelryToBePreviewed.video}} controls>Your browser does not support the tag.</video>
    </div>
  </div>
  <div class="related-items-container">
    <related-item [currentJewel]="jewelryToBePreviewed" (cNumber)="cartNumberChanged($event)" (jewel)="changeJewel($event)"></related-item>
  </div>
</div>
