

<div style="text-align:center;">
</div>
<br><br><br><br>
<div style="text-align:center;">
  <span *ngFor="let category of categories; let i = index" (click)="changeFilter(i)">{{category}}s </span>
</div>
<br><br><br><br>

<div>
  <strong>Featured Products</strong>
  <span *ngFor="let jewel of jewelry;let i = index">
    <div>
    <img src={{jewel.images[0]}} style="height:100px;width:100px;">
    </div>
  <div (click)="viewProductPage(i)">
    <div>
      {{ jewel.jewelName }}
    </div>
    <div>
      ${{ jewel.price }}
    </div>
  </div>
  <div>
    <button (click)="addItem(i)">Add To Cart</button>
  </div>
  </span>
</div>
