.white-bg{
  margin: 0% 10% 0% 10%;
  display: flex;
  justify-content: space-between;
}

.image-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  margin: 5%;
  padding: 0%;
  
}

.out{
  width: 120px;
  height: 120px;
  border: 1px solid #e2af4c;
  margin: 0px 120px 0px 0px;
}

.in{
  width: 120px;
  height: 120px; 
  border: 1px solid #e2af4c;
  margin: 0px 0px 0px 121px;
}

.anImage{
  margin: -2.5px 0px;
}
.header-print{
  display:flex;
  justify-content: center;
  flex-direction: column;
  width: 55%;
  margin: 5%;
}

.header-center
{
  font-family: 'Playfair Display';
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #1d1d1d;

  margin: 10% 0% 10% 0%;
}
.line-header {
  width: 10%;
  height: 2px;
  background-color: #e2af4c;
  margin: 0% 45% 10% 45%;
}
.learn-more-header{
  font-family: 'Hind';
  font-size: 12px; 
  font-weight: 600;
  line-height:2.0;
  text-align: center;
  color: #ffffff;
}

.learn-more-header :hover{
  background-color: #dba741;
}

.learn-more{
  height: 40px;
  width: 100%;
  background-color: #e2af4c;
  border-style: solid;
  border: none;
  border-width: 1px;
  font-family: 'Hind';
  font-size: 12px; 
  font-weight: 600;
  line-height:2.0;
  text-align: center;
  color: #ffffff;
}

.featured-products{

  background-color: rgba(0, 0, 0, 0.02);
  padding: 10% 10% 0% 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title-featured{
  font-family: 'Playfair Display';
  font-size: 30px;
  font-weight: bold;
  text-align: center;
} 
:host swiper{
  margin: 11%;
  width: 211px;
  height: 211px;
}


:host .item-wrapper{
  padding: 10% 0% 0% 0%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}
:host .item-element{
  margin: 5% 0% 5% 0%;
  width: 300px;
  height: 454px;
  background-color: #ffffff;
  font-family: 'Playfair Display';
}

.item-name{
  font-family: 'Playfair Display';
  font-size: 20px;
  font-weight:bold;
  color: #1d1d1d;
  padding: 22px 44px;
  text-align: center;
}
span{ 
  font-family: 'Playfair Display';
}
.item-price{
  font-family: 'Playfair Display';
  font-size: 15px;
  text-align:center;
  color: #1d1d1d; 
}

.item-button-wrapper{

  padding: 35px 72px 0px; 
  font-family: 'Hind';
  font-size: 12px; 
  font-weight: 600;
  line-height:2.0;
  text-align: center;
  color: #e2af4c;
}

.item-button-wrapper :hover{

  font-family: 'Hind';
  font-size: 12px; 
  font-weight: 600;
  line-height:2.0;
  text-align: center;
  color: #ffffff;
  background-color: #e2af4c;
}
 
.item-button{

  font-family: 'Hind';
  font-size: 12px;
  font-weight: 600;
  line-height: 2.0;
  letter-spacing: 1px;
  text-align: center;
  background-color: #ffffff;
  color: #e2af4c;
  border: solid 1px #e2af4c;
}

.item-button :hover{
}
.category-wrapper{
  padding: 0% 0% 10%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.02);

}
.category-element-row-one{
  padding: 10% 10% 0% 10%;
  display: flex;
  justify-content: space-between;
}

.category-element-row-two{
  padding: 5% 25% 0% 25%;
  display: flex;
  justify-content: space-between;
}

.category-image-wrapper{
  margin: 25px 0px;
  display: block;
  height:300px;
  width: 300px;
  background-color: #ffffff;
  -moz-border-radius: 200px;
  border-radius: 200px;
}

.category-image-wrapper :hover{
  display: block;
  background-color: #ffffff;
  -moz-border-radius: 200px;
  border-radius: 200px;
  border: solid 2px #e2af4c
}


.swiper-pagination{ 
}

.category-element{
  font-family: 'Playfair Display';
  font-size: 30px;
  font-weight:bold;
  text-align: center;
  color: #1d1d1d;
}

.category-image{
  padding: 50px 50px 50px 50px;
  width: 203px;
  height: 203px;
}
